.product-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin: 0 auto;
    color: white;
    padding: 14px;
    height: 55vh;
    border-radius: 5px;
    padding-left: 2rem;

}

#mianProductContainer {
    background-color: rgba(0, 0, 0, 0.9);
    left: 50%;
    bottom: -2000px;
    position: fixed;
    transform: translate(-50%, -50%);
    height: 60vh;
    width: 65vw;

}

.flex-row {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.flex-row h1 {
    font-size: 24px;
}

.product img {
    width: 60px;
}

.activeproduct {
    top: 40%;
    bottom: 50%;
    transition-duration: 3;
}

.product-footer {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 14px;
    background-color: rgb(52, 50, 50);
    color: white;
    border-radius: 5px;
}

.product-footer a {
    gap: 1rem;
    color: white;
    font-size: 18px;
    font-weight: 500;

}

#mianPricingContainer {
    background-color: rgba(0, 0, 0, 0.9);
    left: 50%;
    bottom: -2000px;
    position: fixed;
    transform: translate(-50%, -50%);
    height: 60vh;
    transition: 50000s;
    width: 75vw;

}

.pricing-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin: 0 auto;
    color: white;
    padding: 14px;
    height: 55vh;
    border-radius: 5px;
    padding-left: 2rem;

}

.flex-row-pricing{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}
.flex-row-pricing h1{
    font-size: 24px;
}

.pricing img {
    width: 60px;
}