* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 6rem;
    padding: 13px;
    padding-top: 1rem;
}

nav {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
}

nav a {
    display: flex;
    justify-content: end;
    align-items: center;
    text-decoration: none;
    padding: 8px;
    color: black;
    padding-left: 2rem;
    text-align: left;
}

svg:hover {
    cursor: pointer;
}

.main div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 0 auto;
    gap: 1rem;

}

.h h1 {
    /* font-family: sans-serif; */
    font-size: 48px;
    font-weight: 500;
}

strong {
    font-weight: 700;

}

.main p {
    width: 65%;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}


.main input {
    border: none;
    padding: 15px;
    background-color: #00b6d1;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 4rem;
    border-radius: 5px;

}

.main input:hover {
    background-color: #069eb5;

}

.first {
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 10px;
}

.first a {
    text-decoration: none;
}

.first h2 {
    /* font-size: 24px; */
    font-weight: 500;
}

small {
    font-size: 400;
}

.second {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.btn {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* text-align: center; */
    column-gap: 5px;
    row-gap: 10px;
    /* margin: auto; */
    width: 70vw;
    margin-top: 2rem;
}

.blue {
    border: none;
    padding: 5px;
    background-color: rgba(102, 252, 252, 0.859);
    font-size: 18px;
    font-weight: 400;
    color: white;



}

.mar-top {
    margin-top: 1.5rem;
}

.green {
    border: none;
    background-color: #5cb85c;
    font-size: 12px;
    font-weight: 700;
    color: white;
    padding: 8px 15px !important;
    min-height: 10px;
    text-transform: none
}

.green:hover {
    cursor: pointer;
    background-color: #4a984a;
    padding: 10px;
}

.blue:hover {
    cursor: pointer;
    background-color: rgb(116, 227, 227);
    padding: 10px;
}

.btn h4 {
    /* margin-top: 30px;
    margin-bottom: 30px; */
    text-align: center;

}

.third {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 2rem;
    font-weight: 700;
}

div {
    margin-bottom: 15px;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 13px;
}

.container {
    background-color: #222222 !important;
    color: white;
    height: auto;
    width: 100%;
    padding-bottom: 5rem;

}

.bg-black {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    color: white;
    gap: 5rem;
}

.bg-white {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    padding: 3rem;
    border-radius: 8px;
    gap: 1rem;
}

.bg-white h2 {
    font-weight: 500 !important;
    color: #00b6d1 !important;
}

.bg-white button {
    background-color: #00b6d1;
    padding: 12px 1.5rem;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
}

.bg-white button:hover {
    cursor: pointer;
    background-color: rgb(52, 161, 161);
}

.bg-white input {
    padding: 10px 1.5rem;
    border-radius: 5px;


}

.bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    width: 50%;
    gap: 13px;

}

.bg h2 {
    font-size: 24px;
    font-weight: 400;
}

.bg h4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    width: 50%;
}

.main-container {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    width: 75%;
    margin: 0 auto;

}


.main-container-1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 18px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-top: 5rem;
    padding: 12px;
}

.foot-flex {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: left;
    gap: 8px;
}

.foot-flex h3 {
    margin-bottom: 1rem;

}

.foot-flex a {
    text-decoration: none;
    padding: 5px;
    color: black;
}

.foot-4 {
    gap: 1rem;
}

.foot-4 input {
    padding: 15px;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.foot-4 button {

    background-color: #00b6d1;
    padding: 12px 1.5rem;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
}

.foot-4 button:hover {
    cursor: pointer;
    background-color: rgb(61, 147, 147);
}

.foot-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;

}

.foot-social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.div {
    /* padding-top: 70px; */
    padding-bottom: 55px;
    background-color: #f9f9f9 !important;
    margin-left: 16rem;
}

#upArrow {
    display: none;
    position: fixed;
    bottom: 130px;
    right: 20px;
    cursor: pointer;
    z-index: 1000;


}

.scrol-button {
    width: 20px;
    height: 30px;
    right: 20px;
    bottom: 20px;
    border-radius: 0;
    background: #00b6d1;
    padding: 20px;
    font-size: 24px;
    transition: all .1s ease-in-out;
    text-decoration: none;
    position: fixed;
    z-index: 99999;
    text-align: center;
}